



.chat-ul-wrapper {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  
    .shit-left {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: #ffffff;
      padding: 10px;
      float: left;
      width: 60%;
    }
  
    .shit-right {
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #DEE9FF;
      padding: 10px;
      text-align: end;
      float: right;
      width: 60%;
    }
  
    li {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    
.time-shift-right {
    float: right;
  }
  
  .time-shift-left {
    float: right;
  }

  .text-start{
    float: left;
  }
  
.time-keeper-text {
    font-size: 10px;
    display: block;
    margin-top: 20px;
  }
  
  }